# Understanding Pandas Series and DataFrames - Lab

## Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

## Let's get started!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Rename all the columns to lower case

In [3]:
#Your code here

new_col = [col.lower() for col in df.columns]

df.columns = new_col 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197625 entries, 0 to 197624
Data columns (total 11 columns):
c/a                                                                     197625 non-null object
unit                                                                    197625 non-null object
scp                                                                     197625 non-null object
station                                                                 197625 non-null object
linename                                                                197625 non-null object
division                                                                197625 non-null object
date                                                                    197625 non-null object
time                                                                    197625 non-null object
desc                                                                    197625 non-null object
entries                                                                 197625 non-null int64
exits                                                                   197625 non-null int64
dtypes: int64(2), object(9)
memory usage: 16.6+ MB

## Change the Index to be the Line Names

In [4]:
#Your code here


df = df.set_index('linename')
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Painstakingly change the index back

In [5]:
# Your code here
df = df.reset_index()
df.head()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order

In [10]:
# Your code here
df['Num_Lines'] = df.linename.map(lambda x: len(x))

df.head()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits,Num_Lines
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,7
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,7
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,7
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,7
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,7

## Write a function to clean a column name

In [20]:
def clean(col_name):
    cleaned = col_name.strip('/')
    return cleaned
    
    
df.columns
    
    #Your code here; whatever you want to do to col_name. Hint: think back to str methods.
    #return cleaned

Index(['linename', 'c/a', 'unit', 'scp', 'station', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'Num_Lines'],
      dtype='object')

In [21]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [22]:
#Checking the output, we can see the results.
df.columns

Index(['linename', 'c/a', 'unit', 'scp', 'station', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'Num_Lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [28]:
#Your code here
df.set_index('date')

,linename,c/a,unit,scp,station,division,time,desc,entries,exits,Num_Lines
date,,,,,,,,,,,
08/25/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,00:00:00,REGULAR,6736067,2283184,7
08/25/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,04:00:00,REGULAR,6736087,2283188,7
08/25/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,08:00:00,REGULAR,6736105,2283229,7
08/25/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,12:00:00,REGULAR,6736180,2283314,7
08/25/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,16:00:00,REGULAR,6736349,2283384,7
08/25/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,20:00:00,REGULAR,6736562,2283425,7
08/26/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,00:00:00,REGULAR,6736683,2283460,7
08/26/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,04:00:00,REGULAR,6736696,2283461,7
08/26/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,08:00:00,REGULAR,6736705,2283483,7
08/26/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,12:00:00,REGULAR,6736746,2283524,7
08/26/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,16:00:00,REGULAR,6736873,2283587,7
08/26/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,20:00:00,REGULAR,6737067,2283631,7
08/27/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,00:00:00,REGULAR,6737136,2283656,7
08/27/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,04:00:00,REGULAR,6737146,2283658,7
08/27/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,08:00:00,REGULAR,6737169,2283736,7
08/27/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,12:00:00,REGULAR,6737301,2283965,7
08/27/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,16:00:00,REGULAR,6737553,2284025,7
08/27/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,20:00:00,REGULAR,6738257,2284091,7
08/28/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,00:00:00,REGULAR,6738430,2284121,7
08/28/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,04:00:00,REGULAR,6738442,2284126,7
08/28/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,08:00:00,REGULAR,6738474,2284216,7
08/28/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,12:00:00,REGULAR,6738621,2284402,7
08/28/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,16:00:00,REGULAR,6738886,2284425,7
08/28/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,20:00:00,REGULAR,6739630,2284478,7
08/29/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,00:00:00,REGULAR,6739804,2284508,7
08/29/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,04:00:00,REGULAR,6739812,2284512,7
08/29/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,08:00:00,REGULAR,6739847,2284600,7
08/29/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,12:00:00,REGULAR,6739986,2284838,7
08/29/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,16:00:00,REGULAR,6740257,2284896,7
08/29/2018,NQR456W,A002,R051,02-00-00,59 ST,BMT,20:00:00,REGULAR,6740888,2284941,7
...,...,...,...,...,...,...,...,...,...,...,...
08/27/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,01:00:00,REGULAR,5554,348,1
08/27/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,05:00:00,REGULAR,5554,348,1
08/27/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,09:00:00,REGULAR,5554,348,1
08/27/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,13:00:00,REGULAR,5554,348,1
08/27/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,17:00:00,REGULAR,5554,348,1
08/27/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,21:00:00,REGULAR,5554,348,1
08/28/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,01:00:00,REGULAR,5554,348,1
08/28/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,05:00:00,REGULAR,5554,348,1
08/28/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,09:00:00,REGULAR,5554,348,1
08/28/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,13:00:00,REGULAR,5554,348,1
08/28/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,17:00:00,REGULAR,5554,348,1
08/28/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,21:00:00,REGULAR,5554,348,1
08/29/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,01:00:00,REGULAR,5554,348,1
08/29/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,05:00:00,REGULAR,5554,348,1
08/29/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,09:00:00,REGULAR,5554,348,1
08/29/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,13:00:00,REGULAR,5554,348,1
08/29/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,17:00:00,REGULAR,5554,348,1
08/29/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,21:00:00,REGULAR,5554,348,1
08/30/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,01:00:00,REGULAR,5554,348,1
08/30/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,05:00:00,REGULAR,5554,348,1
08/30/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,09:00:00,REGULAR,5554,348,1
08/30/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,13:00:00,REGULAR,5554,348,1
08/30/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,17:00:00,REGULAR,5554,348,1
08/30/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,21:00:00,REGULAR,5554,348,1
08/31/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,01:00:00,REGULAR,5554,348,1
08/31/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,05:00:00,REGULAR,5554,348,1
08/31/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,09:00:00,REGULAR,5554,348,1
08/31/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,13:00:00,REGULAR,5554,348,1
08/31/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,17:00:00,REGULAR,5554,348,1
08/31/2018,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,21:00:00,REGULAR,5554,348,1

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes

In [ ]:
#Your code here

## Drop a couple of columns

In [ ]:
# Your code here

## Summary

Great! You practiced your data cleanup-skills using Pandas.